
body{
    background-image: url('whitebook.png');
    width: 90%;
    background-size: cover;
    }

h2{
    color: black;
}

.first{
    padding: 10px;
}

.second{
    padding: 10px;
}

.third{
    padding: 10px;
}

.fourth{
    padding: 10px;
}